@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEEEA;
    height: 100%;
    width: 100%;
    font-size: 14px;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

/*NAVIGATION BUTTON AND PANEL CSS*/
.panel-container {
    display: inline-block;
    color: white;
    background-color: #292929;
    text-align: center;
    padding: 10px 2px;
    border-radius: 7px;
}


/* DROPDOWN SPECIFIC STYLES */
.dropdown-container {
    position: relative;
}

.dropdown-content {
    display: none;
    margin-left: 20px;
    width: calc(100% - 20px);
}

.dropdown-content .nav-button {
    padding: 12px 15px;
    font-size: 16px;
    background-color: #FE7743;
}


.dropdown-active .dropdown-content {
    display: block;
}

.profile-header {
    position: fixed;
    display: block;
    top: 0;
    z-index: 15;
    margin: 0;
    background-color: #EFEEEA;
    height: 35px;
    width: 100%;
    padding: 10px 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.profile-header h1 {
    margin: 0;
    font-size: 2rem;
    padding-left: 10px;
    color: #273F4F;

}

.sections {
    display: flex;
    margin-top: 50px;
    margin-left: 160px;
    padding: 20px;
    flex-direction: column;
}

.directory {
    margin-bottom: 20px;

}

.page-header {
    font-size: 2rem;
    font-weight: 700;
    margin: 5px 0;
    color: #273F4F;

}

.page-header:hover {
    color: #fe7743;
    cursor: pointer;
}

.program-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.program-card {
    width: 100%;
    background-color: #273F4F;
    justify-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #EFEEEA;
}

.program-card {
    width: 100%;
    background-color: #273F4F;
    justify-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #EFEEEA;
}

#class-section .program-card:last-child {
    background-color: #EFEEEA;
    border: 2px solid #273F4F;
    color: #273F4F;
    width: 99%;
}

.curriculum-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curriculum-levels {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.curriculum-card {
    width: 100%;
    background-color: #273F4F;
    justify-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #EFEEEA;
}

.curriculum-list .curriculum-card:last-child {
    background-color: #EFEEEA;
    border: 2px solid #273F4F;
    color: #273F4F;
}

.semester-container {
    width: 100%;
    margin-bottom: 10px;
}

.semester-container h1 {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th,
td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FE7743;
    font-weight: bold;
}

.total-row {
    font-weight: bold;
}

.edit-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.edit-buttons button {
    margin: 5px 0;
    background-color: #273F4F;
    color: #EFEEEA;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0 solid #000000;
    padding: 3px;
    font-family: 'Montserrat', serif;
    font-size: 1.1rem;
    min-width: 150px;
    min-height: 30px;
}

.modal-section {
    display: flex;
    position: fixed;
    background-color: rgba(39, 63, 79, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    justify-content: center;
    align-items: center;
}

.modal-form {
    display: inline-block;
    position: fixed;
    height: auto;
    width: auto;
    background-color: #EFEEEA;
    border: 1px solid #273F4F;
    border-radius: 5px;
    justify-content: center;
    scroll-behavior: auto;
    padding: 10px;
}

.modal-form h1,
p {
    width: 100%;
    text-align: center;

}

#course-view-list {
    z-index: 25;
}

#schedule-view {
    z-index: 30;
    width: auto;
}

.schedule-bar-list {
    z-index: 35;
}

.bar {
    background-color: #273F4F;
}

/* TEACHER CSS */
.modal {
    font-family: 'Montserrat', serif;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #EFEEEA;
    margin: 15% auto;
    padding: 15px;
    border: 1px solid #273F4F;
    width: 30%;
    text-align: center;
}

#modalStudentId {
    font-weight: bold;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.remark-options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
    gap: 10px;
}

.remark-btn {
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    font-family: 'Montserrat', serif;
    width: 100%;
}

.passed-btn {
    background-color: #FE7743;
    color: white;
    width: 90%;
}

.failed-btn {
    background-color: #273F4F;
    color: white;
    width: 90%;
}

.assign-remark-btn {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #273F4F;
    color: white;
    border: none;
}